body {background-color: #f8f7ff;
    text-align: center;
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

table {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    text-align: center;
}